<form action="/index.php?action=add-comment" method="post">
    <label for="comment-name">Your Email:</label><br>
    <input type="text" id="comment-name" name="comment-name" value="My Article"><br>
    <label for="comment-author">Your name:</label><br>
    <input type="text" id="comment-author" name="comment-author" value="Jon Doe"><br>
    <label for="comment-text">Your comment:</label><br>
    <textarea id="comment-text" name="comment-text" value="Content of comment" rows="10" cols="40"></textarea><br>
    <br><br>
    <input type="hidden" name="article-id" id="article-id" value="{articleId}">
    <input type="submit" value="Submit">
</form>